@using Castle.Core.Internal
@using EPiServer.Core
@model MyEpiserverSite.Models.ViewModels.CreateContentViewModel

@{
    Layout = null;
}

<div>
    @Html.DisplayFor(m => m.Description)    
</div>

<div>
    @{
        using (Html.BeginForm())
        {
            @*@Html.ValidationSummary(false, "", new {@class = "text-danger"})*@

            <div id="languageId">
                @Html.DropDownListFor(m => m.Language, new SelectList(Model.Languages.Select(l => l.Culture), "Select Language"))
            </div>

            <div id ="pageId">
                @Html.DropDownListFor(m => m.ParentId, new SelectList(Model.Pages, "ContentLink", "PageName"), "Select Page")
            </div>

            <div>
                @Html.TextAreaFor(m => m.Text)
            </div>

            <div>
                <input type="submit" value="Create" name="btnCreate" class="btn btn-default"/>
            </div>
            <div>
                @TempData["success"]
            </div>
        }
    }
</div>

