@using PagedList.Mvc
@model MyEpiserverSite.Models.ViewModels.SearchPageViewModel



@if (Model.PageHits != null)
{
    <div class="row">
        <div class="bg-info">
            <h2>Search results</h2>
            <p>
                Your search for <i>@Model.SearchedQuery</i> resulted in @Model.PageHits.TotalItemCount hits.
            </p>
        </div>
    </div>

    

    <div class="row">
        <div>
            @foreach (var item in Model.PageHits)
            {
                <div>
                    <a href="@item.Url">
                        <h3>@item.Title</h3>
                    </a>
                    <p>@item.Excerpt</p>
                    <hr/>
                </div>
            }
        </div>
        <div class="pagedList">
            @*@Html.PagedListPager(Model.PageHits, page => Url.Action("Index","SearchPage", new { page,q = @Model.SearchedQuery}), PagedListRenderOptions.MinimalWithItemCountText)*@
            @Html.PagedListPager(Model.PageHits, page => Url.Action("Index", new { page, q = @Model.SearchedQuery }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "get", UpdateTargetId = "searchResults" }))

        </div>
    </div>
    
}


