@model MyEpiserverSite.Models.ViewModels.UserBasicViewModel

@using (Ajax.BeginForm("UserBasic", "UserBlock", new AjaxOptions { HttpMethod = "post", UpdateTargetId = "newUserForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h4>@Html.Translate("instruction")</h4>

        @Html.ValidationSummary(false, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.Label(Html.Translate("email"), new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Html.Translate("personalnumber"), new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.PersonalNumber,  new { @class = "form-control", placeholder = "ååmmddnnnn"})*@
                @Html.TextBoxFor(model => model.PersonalNumber, new {placeholder = "ååmmddnnnn"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" name="btnNext" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

