@using EPiServer.Web.Mvc.Html
@using MyEpiserverSite.Models.ViewModels
@using MyEpiserverSite.Models.Pages
@model PageViewModel<ArticlePage>

<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
<div>
    <h4>@Html.PropertyFor(m => m.CurrentPage.Introduction)</h4>
    @*<textarea>@Html.DisplayFor(m => m.Introduction)</textarea>*@
    @Html.PropertyFor(m => m.CurrentPage.MainBody)
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
    @Html.PropertyFor(m => m.CurrentPage.Image)
</div>
