@using EPiServer.Core
@using EPiServer.Web
@using EPiServer.Web.Mvc.Html

@model MyEpiserverSite.Models.Pages.ArticlePage

@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h1 @Html.EditAttributes(x => x.PageName)>@Model.PageName</h1>
<h4>@Html.PropertyFor(m => m.Introduction)</h4>
@*<textarea>@Html.DisplayFor(m => m.Introduction)</textarea>*@

<div>
    @Html.PropertyFor(m => m.MainBody)
    @Html.PropertyFor(x => x.MainContentArea)
</div>
<div>
    @Html.PropertyFor(m => m.Image)
</div>